.App {
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
}

html {font-family: 'Times New Roman', sans-serif !important;}

.App-header {
  background-color: #222;
  height: 20px;
  padding: 20px;
  color: white;
}

.App-footer {
    background-color: #222;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    overflow: hidden;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.error-message {
  font-weight: bold;
  color: red;
}
